{% extends "base.html" %}

{% block content %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<script>
  $(document).ready(function(){
		$("#id_product").blur(function(){
			var model_number = $("#id_product").val();
      $("#description").text("");
			//var formData = {account: id};
			$.ajax
			({
				url : "/products/ajax/"+ model_number,
				type: "GET",
				//data : formData,
				success: function(data, textStatus, jqXHR)
				{
            var start = data.indexOf("<p id='description'>", 0);
            var end = data.indexOf("</p>", start);
            var str = data.substring(start+20, end);
            $("<div id='description'>" + str + "</div>").insertAfter("#span_description");
				},
        error: function(jqXHR, exception)
        {
          alert( "Invalid Product"  );
        }
			});
		})
  });
	</script>

  <script type="text/javascript">
  function deleteOnSubmit( str ){

    var items = document.getElementsByName("rows");
    var schecked = 0;
    for( x=0; x < items.length; x++ ){

      if(items[x].checked== true){
          schecked += 1;
        }
    }

    if(schecked==0){

        window.alert("沒有選擇要刪除的項目喔");
        return false;

    }else{

      var iChoose = confirm("是否確定刪除勾選的資料？");

      if(!iChoose){
        return false;
      }else{
        document.getElementById("delform").action = "/quotations/deleteitem/";
        delform.submit();


      }
    }
    return true;
  }




  function checkOnSubmit(){

    var validateflag = true;
    //檢查存檔是不是有欄位沒填
    var unit_price = document.getElementById("id_unit_price").value;

    if( unit_price ==''){
      window.alert("Invalid Price");
      validateflag = false ;
      return false;
    }

    var prod_number = document.getElementById("id_product").value;

    if( prod_number != '' ){
      var product = document.getElementById("description").innerHTML;
      if( product ==''){
        window.alert("Invalid Product");
        validateflag = false ;
        return false;
      }
    }else{
        window.alert("Product is require!");
        validateflag = false ;
        return false;
    }


    if(validateflag){
      document.getElementById("myform").action = "/quotations/detailadd/";
      myform.submit();
    }else{
      return false;
    }
    return false;
  }
  </script>





  <h1>{{ title }}</h1>
<a href="/ship/export_pdf">Export PDF</a>
<p>作廢註記: {{ modelquote.invalid }}</p>
<table class="table table-bordered">
  <tr>
    <td>報價單號</td>
    <td>{{ modelquote.order_number }}</td>
    <td>報價日期</td>
    <td>{{ modelquote.ord_date | date:"Y-m-d" }}</td>
  </tr>
  <tr>
    <td>業務代表</td>
    <td>{{ modelquote.request_user }}</td>
    <td>有效日期</td>
    <td colspan="3">{{ modelquote.effective_date | date:"Y-m-d" }}</td>
  </tr>
  <tr>
    <td>客戶名稱</td>
    <td>{{ modelquote.customer.title }}</td>
    <td>幣別</td>
    <td>{{ modelquote.currency }}</td>
  </tr>
  <tr>
    <td>註記事項</td>
    <td colspan="3">{{ modelquote.comment | linebreaks  }}</td>
  </tr>

</table>

<table class="table table-striped">

  <form id ='myform' action="" method="POST" onsubmit="return checkOnSubmit()">{% csrf_token %}
  <tr>
    <th width="6%"><button type="submit" class="btn btn-primary" >Add in</button>
    </th>
    <th width="3%">
      <input id="id_modelquote" name="modelquote" size="8" type="hidden" value='{{ modelquote.id }}' cssStyle="width:20px" />
    </th>
    <th width="8%"><input id="id_product" name="product" size="14" type="text"  cssStyle="width:30px" /></th>
    <th width="15%"><span id="span_description"></span></th>
    <th width="8%"><span id="span_img"></span></th>
    <th width="30%"><span id="span_specification"></span></th>
    <th width="5%"><input id="id_unit_price" name="unit_price" size="4" step="any" type="number"/>
    <th ><input id="line_memo" name="line_memo" size="40"  maxlength="50" type="text" cssStyle="width:160px" />
  </tr>
</form>
<form id="delform" action="" method="POST" onsubmit="return deleteOnSubmit( {{ modelquote.id }} )" >{% csrf_token %}
  <input type='hidden' name='modelquote_id' value="{{ modelquote.id }}"/>

  <tr>
    <th width="6%"><button type="submit" class="btn btn-danger" >Delete Item</button></th>

    <th width="4%">行號</th>
    <th width="8%">料號</th>
    <th width="15%">品名</th>
    <th width="6%">產品圖示</th>
    <th width="30%">規格</th>
    <th width="5%">單價</th>
    <th >註記事項</th>
  </tr>
  {% for row in modelquote.quotedetail_set.all %}
  <tr>
    <td><input type="checkbox" name="rows" id='row_{{ row.id }}' value="{{ row.id }}"> </td>
    <td><a href='{{ row.get_absolute_url }}'>{{ row.line_no }}</a></td>
    <td>{{ row.product.part_number }}</td>
    <td>{{ row.product.description }}</td>
    <td>  {% if row.product.image %}
            <img src="{{ row.product.image.url }}" class="img-rectangle" height="80" width="80"/>
          {% endif %}
    </td>

    <td>{{ row.product.specification | linebreaks }}</td>
    <td align="right">{{ row.unit_price }}</td>
    <td>{{ row.line_memo | linebreaks | truncatechars:30 }}</td>
  </tr>
  {% endfor%}
</form>
</table>

{% endblock content %}
