{% extends "base.html" %}
{% load staticfiles %}
{% block content  %}

<div>
    <span ><a href="/workorders/create" class="btn btn-primary">Create New</a></span>


        <form action="" method="GET">
            <input type="text" name="q" placeholder="Customer  Number or Title"  value="{{ request.GET.q }}"/>
            <input type="submit" value="Search"/>
        </form>
</div>

  <div class="pagination">
      <span>{{ title }}</span>
      <span class="step-links">
          {% if queryset.has_previous %}
              <a href="?page={{ queryset.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
          </span>

          {% if queryset.has_next %}
              <a href="?page={{ queryset.next_page_number }}">next</a>
          {% endif %}
      </span>
  </div>

<div>


<div>
<table class="table table-striped" >
  <tr>
    <th width="8%">Last Access</th>
    <th width="5%">Category</th>
    <th width="8%">Recevice Date</th>
    <th width="20%">Customer Title</th>
    <th width="6%">PartNumber</th>
    <th width="15%">Description </th>
    <th width="5%">Deliverly</th>
    <th width="5%">Amount</th>
    <th >Comment</th>
  </tr>
{% for record in object_list %}
  <tr>
    <td><a href='{{ record.get_absolute_url }}'>{{ record.last_access | timesince }}</a></td>
    <td><a href='{{ record.get_absolute_url }}'>{{ record.category }}</a></td>
    <td><a href='{{ record.get_absolute_url }}'>{{ record.recevice_date | date:"Y-m-d" }}</a></td>
    <td><a href='{{ record.get_absolute_url }}'>{{ record.customer | truncatechars:30 }}</a></td>
    <td><a href='{{ record.get_absolute_url }}'>{{ record.product.part_number }}</a></td>
    <td><a href='{{ record.get_absolute_url }}'>{{ record.product }}</a></td>
    <td><a href='{{ record.get_absolute_url }}'>{{ record.deliverly | date:"Y-m-d" }}</a></td>
    <td><a href='{{ record.get_absolute_url }}'>{{ record.ord_amount }}</a></td>
    <td><a href='{{ record.get_absolute_url }}'>{{ record.manage_memo | truncatechars:30 }}</a></td>
  </tr>
{% endfor %}
</table>
<div>




{% endblock content %}
