{% extends "base.html" %}


{% block head_extra %} {{ form.media }} {% endblock head_extra %}


{% block content%}
<h1>{{ title }}</h1>



<div class="container">

  <div class="col-sm-6 col-sm-offset-3">
    <div>
        您尚未登入
    </div>
      <form action="" method="POST">{% csrf_token %}
        <table class="table">
            {{ form.as_table }}
          </table>
          <input class="form-control btn btn-primary" type="submit" value="Login" value='{{ next }}' >
      </form>
  </div>
</div>
{% endblock content%}
