{% extends "base.html" %}
{% load staticfiles %}
{% block content  %}

<div>
    <span ><a href="/products/create" class="btn btn-primary">Create New</a></span>
    <form action="" method="GET">
        <input type="text" name="q" placeholder="Customer  Number or Title"  value="{{ request.GET.q }}"/>
        <input type="submit"  value="Search" class="btn btn-success"/>
    </form>

</div>


  <div class="pagination">
      <span>{{ title }}</span>
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
          {% endif %}
      </span>
  </div>


<div>


{% for record in object_list %}

<div class="col-sm-6 col-md-4">

    {% if record.image %}
      <img src="{{ record.image.url }}" class="img-rectangle" height="360" width="360"/>
    {% endif %}

  <h3><a href='{{ record.get_absolute_url }}'>{{ record.description | truncatechars:30 }}</a>
    <small>{{ record.create_at | timesince }}</small>
</h3>
    <p>{{ record.part_number }}</p>
    <p>{{ record.specification | linebreaks | truncatechars:80 }}</p>
    {{ record.modify | date:"Y-m-d"}}
    <a href='{{ record.get_absolute_url }}' class="btn btn-primary" role="button">View</a>

</div>
{% endfor %}





{% endblock content %}
