{% extends "base.html" %}

{% load static %}
{% block title %}
{% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<style>
.imgbox{
  width: auto;
  height: 360;
  border: 1px solid;
  box-sizing: border-box;
}
.pricebox{
    width: auto;
    height: 60;
    background-color: skyblue;

}
</style>

<div class="col-sm-8 col-md-10 col-md-offset-1" >
  <hr>
    <div  class="media-left media-middle col-md-8 ">
      <hr>
      {% if product.image %}
          <img src="{{ product.image.url }}"   width="480"  >
      {% else %}
      {% static "img/no_image.png" %}
      {% endif %}
    </div>
    <div class="media-body">
        <h1>{{ product.name }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
      <p>Model Name:{{ product.modelname }}</p>
      <p>Family: {{ product.family }}</p>
      <p>Option 1: {{ product.option1 }}</p>
      <p>Beam Angle: {{ product.beam_angle }}</p>
      <p>CCT: {{ product.cct }}</p>
      <p>CRI: {{ product.cri }}</p>
      <p>Watt: {{ product.watt }}</p>
      <p>Lm: {{ product.lm }}</p>
      <p>Price: ${{ product.price }}</p>
      <p>Active: {{ product.available }}</p>

        <div class="form-inline thumbnail ">
          {% for p in product.productprice_set.all %}
            <div class="form-group thumbnail pricebox">
              <div align="center">{{ p.currency }}</div>
              <div align="right" >{{ p.std_price }}</div>
            </div>
          {% endfor %}
        </div>
      <form class="form-inline" action="{% url "cart:cart_add" product.id %}" method="post">
        <div>
          Quantity1:{{ cart_product_form.quantity }}  Price1:{{ cart_product_form.price }}
        </div>
        <div>
          Quantity2:{{ cart_product_form.quantity1 }}  Price2:{{ cart_product_form.price1 }}
        </div>
        <div>
          Quantity3:{{ cart_product_form.quantity2 }}  Price3:{{ cart_product_form.price2 }}
        </div>
        <div>
          Quantity4:{{ cart_product_form.quantity3 }}  Price4:{{ cart_product_form.price3 }}
        </div>
      {% csrf_token %}
      <input type="submit" value="Add to cart">
      </form>

    </div>
</div>
{% endblock %}
