{% extends "base.html" %}

{% load staticfiles %}

{% block title %}

  {% if category %}
    {{ category.name }}
  {% else %}
    Products
  {% endif %}

{% endblock title %}

{% block content %}


<!--
<div class="order-info">
  <h3>Your order</h3>
  <ul>

  {% for item in cart %}
  <li>
  {{ item.quantity }}x {{ item.product.name }}
  <span>${{ item.total_price }}</span>
  </li>
  {% endfor %}
  </ul>
  <p>Total: ${{ cart.get_total_price }}</p>
</div>
-->
<style>
.imgbox{
  width: auto;
  height: 360;
  border: 1px solid;

  box-sizing: border-box;
}
.pricebox{
  width: auto;
  height: 60;
  background-color: skyblue;

}
</style>



<div class="col-xs-12  col-sm-12 col-md-10 col-sm-offset-0  col-md-offset-0 col-lg-offset-1">
    <script>
        {% block jquery %}

            $("#submit-btn").click(function(event){
              alert("Jquery Function");
              event.preventDefault();
              var formData = $("#additem_to_cart_form").serialize();

              console.log(formData);
            })

        {% endblock jquery%}
    </script>

    <div class="media-left media-top">
      <div>
        <h3>Categories</h3>
        <table class="table">
            <li {% if not category %} class="selected" {% endif %} >
            <a href="{% url "quoted:product_list" %}">ALL</a><hr>
            </li>
              {% for c in categories %}
              <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                  <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                  <hr>
              </li>
              {% endfor %}
        </table>
      </div>
    </div>
    <div class="media-body">
    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>


        {% for product in products %}
        <div class="col-md-4">
            <div class="thumbnail">
                <div class='thumbnail imgbox'>

                <a href="{{ product.get_absolute_url }}">
                    {% if product.image %}
                      <img src="{{ product.image.url }}" class="img-responsive">
                    {% endif %}
                </a>
                </div>
                <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                <p><small>{{ product.modelname }}</small></p></h4>
                  <div class="form-inline thumbnail pricebox ">
                        {% for p in product.productprice_set.all %}
                            <div class="form-group thumbnail "><small>
                              <div align="center"><u>{{ p.currency }}</u></div>
                              <div align="rigcenterht" >{{ p.std_price }}</div>
                          </small>
                            </div>
                        {% endfor %}
                  </div>
                  <small>
             <form  class="form-inline" id="additem_to_cart_form" action="{% url "cart:cart_add" product.id %}" method="POST">
                <table class="table">
              <tr>
                  <td>Qty1:<input type="text" class="form-control" name="quantity" id="id_quantity" value='1' size='4' onfocus="select()" /></td>
                  <td>Price1:<input type="text" class="form-control" name="price" id="id_product" value='{{ product.productprice_set.first.std_price }}' size='8' onfocus="select()" /></td>
              </tr>
              <tr>
                <td>Qty2:<input type="text" class="form-control" name="quantity1" id="id_quantity1" size='4' onfocus="select()" /></td>
                <td>Price2:<input type="text" class="form-control" name="price1" id="id_product1" size='8' onfocus="select()" /></td>
              </tr>
              <tr>
                <td>Qty3:<input type="text" class="form-control" name="quantity2" id="id_quantity2" size='4' onfocus="select()" /></td>
                <td>Price3:<input type="text" class="form-control" name="price2" id="id_product2" size='8' onfocus="select()" /></td>
              </tr>
              <tr>
                <td>Qty4:<input type="text" class="form-control" name="quantity3" id="id_quantity3" size='4' onfocus="select()" /></td>
                <td>Price4:<input type="text" class="form-control" name="price3" id="id_product3" size='8' onfocus="select()" /></td>
              </tr>
              </table>
              {% csrf_token %}

              <input id="submit-btn" type="submit" value="Add to cart" class="btn btn-success form-control">
            </form>
        </small>
            </div>
        </div>
        {% endfor %}

      </div>

</div>
{% endblock content %}
