{% extends "base.html" %}

{% load staticfiles %}

{% block title %}

  {% if category %}
    {{ category.name }}
  {% else %}
    Products
  {% endif %}

{% endblock title %}

{% block content %}


<!--
<div class="order-info">
  <h3>Your order</h3>
  <ul>

  {% for item in cart %}
  <li>
  {{ item.quantity }}x {{ item.product.name }}
  <span>${{ item.total_price }}</span>
  </li>
  {% endfor %}
  </ul>
  <p>Total: ${{ cart.get_total_price }}</p>
</div>
-->
<style>
.imgbox{
  width: auto;
  height: 300px;
  border: 1px solid;
  box-sizing: border-box;
}
</style>

<div class="col-sm-8 col-md-10 col-sm-offset-1 col-md-offset-1">
  <div  class="media-left media-top">
    <div>
      <h3>Categories</h3>
      <ul>
          <li {% if not category %} class="selected" {% endif %} >
          <a href="{% url "quoted:product_list" %}">All</a>
          </li>
            {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
            {% endfor %}
      </ul>
    </div>
  </div>
  <div class="media-body">
  <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
      {% for product in products %}
      <div class="col-sm-6 col-md-4">
          <div  class="thumbnail">
              <div class='imgbox'>
              <a href="{{ product.get_absolute_url }}">
                  <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/noimage.jpg' %}{% endif %}" class="img-rectangle" height="360" width="360">
              </a>
              </div>
              <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
              <p>{{ product.modelname }}</p>
              <p><strong>Standard Price:</strong> ${{ product.price }}</p>

          <form  id="additem_to_cart_form" action="{% url "cart:cart_add" product.id %}" method="post">
            Quantity: <input type="text" class="form-control" name="quantity" id="id_quantity" value='1' onfocus="select()" />
            Quote Price: <input type="text" class="form-control" name="price" id="id_product" value='{{ product.price }}' onfocus="select()" />
            {% csrf_token %}

          <input type="submit" value="Add to cart" class="btn btn-success form-control">
          </form>
          </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock content %}
