<script>
    {% block jquery %}

        $("#submit-btn").click(function(event){
          alert("Jquery Function");
          event.preventDefault();
          var formData = $("#additem_to_cart_form").serialize();

          console.log(formData);
        })

    {% endblock jquery%}
</script>

<div class="media-left media-top">
  <div>
    <h3>Categories</h3>
    <table class="table">
        <li {% if not category %} class="selected" {% endif %} >
        <a href="{% url "quoted:product_list" %}">ALL</a><hr>
        </li>
          {% for c in categories %}
          <li {% if category.slug == c.slug %}class="selected"{% endif %}>
              <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
              <hr>
          </li>
          {% endfor %}
    </table>
  </div>
</div>
<div class="media-body">
<h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>


    {% for product in products %}


    <div class="col-xs-8 col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class='imgbox'>

            <a href="{{ product.get_absolute_url }}">
                {% if product.image %}
                  <img src="{{ product.image.url }}" class="img-responsive">
                {% endif %}
            </a>
            </div>
            <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
            <p><small>{{ product.modelname }}</small></p></h4>

            <!--<p><strong>Standard Price:</strong> ${{ product.price }}</p>-->

                  <div class="form-inline thumbnail ">
                        {% for p in product.productprice_set.all %}
                            <div class="form-group pricebox">
                              <div align="center">{{ p.currency }}</div>
                              <div align="right" >{{ p.std_price }}</div>
                            </div>

                        {% endfor %}
                  </div>

        <form  class="form-inline" id="additem_to_cart_form" action="{% url "cart:cart_add" product.id %}" method="POST">
          <div class="form-group">
              Quantity1:<input type="text" class="form-control" name="quantity" id="id_quantity" value='1' size='4' onfocus="select()" />
              Price1:<input type="text" class="form-control" name="price" id="id_product" value='{{ product.productprice_set.first.std_price }}' size='8' onfocus="select()" />
          </div>
          <div class="form-group">
            Quantity2:<input type="text" class="form-control" name="quantity1" id="id_quantity1" size='4' onfocus="select()" />
            Price2:<input type="text" class="form-control" name="price1" id="id_product1" size='8' onfocus="select()" />
          </div>
          <div class="form-group">
            Quantity3:<input type="text" class="form-control" name="quantity2" id="id_quantity2" size='4' onfocus="select()" />
            Price3:<input type="text" class="form-control" name="price2" id="id_product2" size='8' onfocus="select()" />
          </div>
          <div class="form-group">
            Quantity4:<input type="text" class="form-control" name="quantity3" id="id_quantity3" size='4' onfocus="select()" />
            Price4:<input type="text" class="form-control" name="price3" id="id_product3" size='8' onfocus="select()" />
          </div>
          {% csrf_token %}

          <input id="submit-btn" type="submit" value="Add to cart" class="btn btn-success form-control">
        </form>
        </div>
    </div>
    {% endfor %}

  </div>
