{% extends "base.html" %}

{% load staticfiles %}

{% block title %}

  {% if category %}
    {{ category.name }}
  {% else %}
    Products
  {% endif %}

{% endblock title %}

{% block content %}


<!--
<div class="order-info">
  <h3>Your order</h3>
  <ul>

  {% for item in cart %}
  <li>
  {{ item.quantity }}x {{ item.product.name }}
  <span>${{ item.total_price }}</span>
  </li>
  {% endfor %}
  </ul>
  <p>Total: ${{ cart.get_total_price }}</p>
</div>
-->
<style>
.imgbox{
  width: auto;
  height: 360;
  border: 1px solid;

  box-sizing: border-box;
}
.pricebox{
  width: auto;
  height: 60;
  background-color: skyblue;

}
</style>



<div class="col-xs-12  col-sm-12 col-md-10 col-sm-offset-0  col-md-offset-0 col-lg-offset-1">
    <script>
        {% block jquery %}

            $("button").click(function(event){


              var form = $(this).closest('form')[0];
              var item = form.id.split('_');
              var product_id = document.getElementById('product_'+item[1]).value

              var quantity_id = document.getElementById('quantity_'+ product_id).value
              var prices_id = document.getElementById('price_'+ product_id).value
              var quantity1_id = document.getElementById('quantity1_'+product_id).value
              var prices1_id = document.getElementById('price1_'+product_id).value
              var quantity2_id = document.getElementById('quantity2_'+product_id).value
              var prices2_id = document.getElementById('price2_'+product_id).value
              var quantity3_id = document.getElementById('quantity3_'+product_id).value
              var prices3_id = document.getElementById('price3_'+product_id).value


              //alert(prices3_id);
              event.preventDefault();
              formData= $("#form.id").serialize();
              console.log(formData)


             $.ajax({

                 type:"POST",
                 url:'/cart/addcart/',
                 data:{
                     product_id: product_id,

                     quantity:quantity_id,
                     price: prices_id,
                     quantity1:quantity1_id,
                     price1: prices1_id,
                     quantity2:quantity2_id,
                     price2: prices2_id,
                     quantity3:quantity3_id,
                     price3: prices3_id,
                     csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                 },
                 success: function(result){

                   $("#jquery_message_"+ product_id).html("Success!!");

                 },
                 error: function(e){
                   alert('Error')
                 }
             });

            });

        {% endblock jquery%}
    </script>

    <div class="media-left media-top">
      <div>
        <h3>Categories</h3>
        <table class="table">
            <li {% if not category %} class="selected" {% endif %} >
            <a href="{% url "quoted:product_list" %}">ALL</a><hr>
            </li>
              {% for c in categories %}
              <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                  <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                  <hr>
              </li>
              {% endfor %}
        </table>
      </div>
    </div>
    <div class="media-body">
    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>



        {% for product in product_list %}
        <div class="col-md-4">
            <div class="thumbnail">
                <div class='thumbnail imgbox'>

                <a href="{{ product.get_absolute_url }}">
                    {% if product.image %}
                      <img src="{{ product.image.url }}" class="img-responsive">
                    {% endif %}
                </a>
                </div>
                <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                <p><small>{{ product.modelname }}</small></p></h4>
                  <div class="form-inline thumbnail pricebox ">
                        {% for p in product.productprice_set.all %}
                            <div class="form-group thumbnail "><small>
                              <div align="center"><u>{{ p.currency }}</u></div>
                              <div align="rigcenterht" >{{ p.std_price }}</div>
                          </small>
                            </div>
                        {% endfor %}
                  </div>
             <small>
             <form  class="form-inline" id="additem_{{product.id}}" action="" method="POST">
                <table class="table">
              <tr>
                  <input type="hidden" id="product_{{ product.id }}" value='{{ product.id }}'>
                  <td>Qty1:<input type="text" class="form-control" name="quantity" id="quantity_{{ product.id }}" value='1' size='4' onfocus="select()" /></td>
                  <td>Price1:<input type="text" class="form-control" name="price" id="price_{{ product.id }}" value='{{ product.productprice_set.first.std_price }}' size='8' onfocus="select()" /></td>
              </tr>
              <tr>
                <td>Qty2:<input type="text" class="form-control" name="quantity1" id="quantity1_{{ product.id }}" size='4' onfocus="select()" /></td>
                <td>Price2:<input type="text" class="form-control" name="price1" id="price1_{{ product.id }}" size='8' onfocus="select()" /></td>
              </tr>
              <tr>
                <td>Qty3:<input type="text" class="form-control" name="quantity2" id="quantity2_{{ product.id }}" size='4' onfocus="select()" /></td>
                <td>Price3:<input type="text" class="form-control" name="price2" id="price2_{{ product.id }}" size='8' onfocus="select()" /></td>
              </tr>
              <tr>
                <td>Qty4:<input type="text" class="form-control" name="quantity3" id="quantity3_{{ product.id }}" size='4' onfocus="select()" /></td>
                <td>Price4:<input type="text" class="form-control" name="price3" id="price3_{{ product.id }}" size='8' onfocus="select()" /></td>
              </tr>
              </table>
              {% csrf_token %}
              <div class="form-inline">
                <button type="button"  class="btn btn-success form-control">Add to Cart</button>
              </div>
            </form>
        </small>


            </div>
        </div>
        {% endfor %}

      </div>

</div>
{% endblock content %}
