{% extends "base.html" %}



{% block content %}

<style>
.imgbox{
  width: auto;
  height: auto;
  border: 1px solid;
  box-sizing: border-box;
}
</style>


	<script>
  $(document).ready(function(){
		$("#id_product").blur(function(){
			var account = $("#id_product").val();
      $("#description").text("");
			//var formData = {account: id};
			$.ajax
			({
				url : "/products/ajax/"+account,
				type: "GET",
				//data : formData,
				success: function(data, textStatus, jqXHR)
				{
            var start = data.indexOf("<p id='description'>", 0);
            var end = data.indexOf("</p>", start);
            var str = data.substring(start+20, end);
            $("<div id='description'>" + str + "</div>").insertAfter("#span_description");
				},
        error: function(jqXHR, exception)
        {
          alert( "Invalid Product"  );
        }
			}); width=None,height=None
		})
  });
	</script>

  <script type="text/javascript">
  function deleteOnSubmit( str ){

    var items = document.getElementsByName("rows");
    var schecked = 0;
    for( x=0; x < items.length; x++ ){

      if(items[x].checked== true){
          schecked += 1;
        }
    }

    if(schecked==0){

        window.alert("沒有選擇要刪除的項目喔");
        return false;

    }else{

      var iChoose = confirm("是否確定刪除勾選的資料？");

      if(!iChoose){
        return false;
      }else{
        document.getElementById("delform").action = "/quoted/order/"+{{ order.id }}+"/deleteitem/";
        delform.submit();
      }
    }
    return true;
  }
  </script>
  <script>
    $(function() {
      var dialog = $("#dialog" ).dialog({
        autoOpen: false,
        height: 800,
        width: 1200,
        modal: true,
        buttons: {
           OK: addItem
        },
        close: function() {}
      });

      $( "#product_a_id" ).on( "click", function() {
        dialog.dialog( "open" );
      });

       function addItem(){
         var selectedItem = $("#myselect option:selected" ).text();
         $("#milk_input_id").val(selectedItem);
          dialog.dialog( "close" );
       }
    });
  </script>



    <div id="dialog" title="Choose you want ">

      <!--<span id="order_id">Order ID:{{ order.id }}</span><br>-->
      <span id="order_number">Order Number:{{ order.order_number }}</span>
<div>
		<!--
      <div  class="media-left media-top">

        <div>
          <h3>Categories</h3>
          <ul>
              <li {% if not category %} class="selected" {% endif %} >
              <a href="{% url "quoted:product_list" %}">All</a>
              </li>
                {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
                {% endfor %}
          </ul>
        </div>
      </div>
		-->
			<div id="d1"></div>
      <div id='tbody' class="media-body">
      <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
          {% for product in products %}
          <div class="col-sm-10 col-md-4">
              <div  class="thumbnail">
                  <div class='imgbox'>
										 <img src="{% if product.image %}{{ product.image.url }}{% endif %}" class="img-rectangle" height="330" width="330">
                  </div>
                  <h3>{{ product.name }}</h3>
                  <p>{{ product.modelname }}</p>
                  <p>Standard Price: ${{ product.price }}</p>

              <form class="form-inline" name="additem_to_order" id='form_{{ product.id }}' action="" method="post">
                  {% csrf_token %}
                  <input type="hidden" id="order_{{ product.id }}" value='{{ order.id }}'>
                  <input type="hidden" id="products_{{ product.id }}" value='{{ product.id }}'>


                  <div class="form-group">
                      Quantity1:<input type="text" class="form-control"  id="quantity_{{ product.id }}" value='1' size='4' onfocus="select()" />
                      Price1:<input type="text" class="form-control"  id="prices_{{ product.id }}" value='{{ product.price }}' size='8' onfocus="select()" />
                  </div>
                  <div class="form-group">
                    Quantity2:<input type="text" class="form-control"  id="quantity1_{{ product.id }}" size='4' onfocus="select()" />
                    Price2:<input type="text" class="form-control" id="prices1_{{ product.id }}" size='8' onfocus="select()" />
                  </div>
                  <div class="form-group">
                    Quantity3:<input type="text" class="form-control" id="quantity2_{{ product.id }}" size='4' onfocus="select()" />
                    Price3:<input type="text" class="form-control"  id="prices2_{{ product.id }}" size='8' onfocus="select()" />
                  </div>
                  <div class="form-group">
                    Quantity4:<input type="text" class="form-control"  id="quantity3_{{ product.id }}" size='4' onfocus="select()" />
                    Price4:<input type="text" class="form-control" id="prices3_{{ product.id }}" size='8' onfocus="select()" />
                  </div>
              <button type="button"  class="btn btn-success form-control">Add to Order</button>
              </form>
              </div>
          </div>
          {% endfor %}
					<script src="http://code.jquery.com/jquery-1.10.2.js" ></script>
					<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js" ></script>
    </div>
</div>
</div>
<script>
$("button").click(function(e){

    var form = $(this).closest('form')[0];

    var item = form.id.split('_');
    var order_id = document.getElementById('order_'+item[1]).value
    var product_id = document.getElementById('products_'+item[1]).value
    var quantity_id = document.getElementById('quantity_'+item[1]).value
    var prices_id = document.getElementById('prices_'+item[1]).value

    var quantity1_id = document.getElementById('quantity1_'+item[1]).value
    var prices1_id = document.getElementById('prices1_'+item[1]).value
    var quantity2_id = document.getElementById('quantity2_'+item[1]).value
    var prices2_id = document.getElementById('prices2_'+item[1]).value
    var quantity3_id = document.getElementById('quantity3_'+item[1]).value
    var prices3_id = document.getElementById('prices3_'+item[1]).value

    e.preventDefault();

	 $.ajax({
			 type:"POST",
			 url:'/quoted/insertitem/',
			 data:{
           order_id: order_id,
           product_id: product_id,

           quantity:quantity_id,
           price: prices_id,
           quantity1:quantity1_id,
           price1: prices1_id,
           quantity2:quantity2_id,
           price2: prices2_id,
           quantity3:quantity3_id,
           price3: prices3_id,
 				   csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
       },
			 success: function(result){
				 //$("#d1").html("Success!!");
         alert('Put item to Order')
			 },
			 error: function(e){
				 alert('Error')
			 }
	 });
});
</script>


  <h1>{{ title }}</h1>

<table class="table table-striped" border="0">
  <tr>
    <td>Quote No.</td>
    <td>{{ order.order_number }}</td>
    <td>Quote Date</td>
    <td>{{ order.ord_date | date:"Y-m-d" }}</td>
  </tr>
  <tr>
    <td>Customer Title</td>
    <td>{{ order.customer.title }}</td>
    <td>Sales</td>
    <td>{{ order.quote_sales }}</td>
  </tr>
  <tr>
    <td>Contact</td>
    <td>{{ order.contact }}</td>
    <td>Email</td>
    <td>{{ order.email }}</td>
  </tr>
  <tr>
    <td>Currency</td>
    <td>{{ order.currency }}</td>
    <td>Effective Date</td>
    <td>{{ order.effective_date | date:"Y-m-d" }}</td>
  </tr>
  <tr>
    <td>Payment Term</td>
    <td>{{ order.paymentterm }}</td>
    <td>Price Term</td>
    <td>{{ order.priceterm }}</td>
  </tr>
  <tr>
    <td>Comment</td>
    <td colspan="3">{{ order.comment | linebreaks |truncatewords:60 }}</td>
  </tr>
</table>

<table class="table table-striped" border="0">
   <a href="{{ order.get_absolute_url }}update" class="btn btn-primary">Modify Ouote</a>
   <a href="{{ order.get_absolute_url }}gen_quote" class="btn btn-primary" target="_blank">Generate Quote</a>
   <a href="{{ order.get_absolute_url }}gen_pdfv2" class="btn btn-primary" target="_blank">Generate PDF</a>
   <!--
      <a href="{{ order.get_absolute_url }}print" class="btn btn-primary" target="_blank">to PDF</a>
      <a href="{{ order.get_absolute_url }}gen_pdf" class="btn btn-primary" target="_blank">Generate PDF</a>
  -->
		<a id="product_a_id" href="#"  class="btn btn-primary" >See Model List</a>

		<form id="delform" action="" method="POST" onsubmit="return deleteOnSubmit( {{ order.id }} )" >{% csrf_token %}
		  <input type='hidden' name='order_id' value="{{ order.id }}"/>
		  <tr>
		    <th width="6%"><button type="submit" class="btn btn-danger" >Delete Item</button></th>
		    <th width="4%">No.</th>
				<th width="15%">Model Name</th>
		    <th width="8%">Product</th>
				<th width="6%">Watt</th>
				<th width="6%">CCT</th>
		    <th width="6%">CRI</th>
		    <th width="6%">Beam angle</th>
				<th width="6%">Quantity</th>
		    <th width="5%">Price</th>
		  </tr>

      <style>
      div.numb {
          width:100px;
          margin: auto;
          border: 0px solid #73AD21;
      }
      </style>
		  {% for row in order.orderitem_set.all %}
		  <tr>
		    <td>
		        <input type="checkbox" name="rows" id='row_{{ row.id }}' value="{{ row.id }}">
		            {% if row.product.image %}
		             <img src="{{ row.product.image.url }}" class="img-rectangle" height="80" width="80"/>
		           {% endif %}
		    </td>
		    <td>{{ forloop.counter }}</td>
				<td>{{ row.product.modelname }}</td>
		    <td>{{ row.product.name }}</td>
				<td>{{ row.product.watt }}</td>
				<td>{{ row.product.cct }}</td>
		    <td>{{ row.product.cri }}</td>
		    <td>{{ row.product.beam_angle }}</td>
				<td align="right" >
          <div class='numb'>
              <div class='numb'>{% if row.quantity  != None %}{{ row.quantity  }}{% endif %}</div>
              <div class='numb'>{% if row.quantity1 != None %}{{ row.quantity1 }}{% endif %}</div>
              <div class='numb'>{% if row.quantity2 != None %}{{ row.quantity2 }}{% endif %}</div>
              <div class='numb'>{% if row.quantity3 != None %}{{ row.quantity3 }}{% endif %}</div>
          </div>
        </td>
		    <td align="right" >
          <div class='numb'>
              <div class='numb'>{% if row.price  != None %}{{ row.price   }}{% endif %}</div>
              <div class='numb'>{% if row.price1 != None %}{{ row.price1 }}{% endif %}</div>
              <div class='numb'>{% if row.price2 != None %}{{ row.price2 }}{% endif %}</div>
              <div class='numb'>{% if row.price3 != None %}{{ row.price3  }}{% endif %}</div>
          </div>
        </td>
		  </tr>
		  {% endfor%}
		</form>
</table>

{% endblock content %}
