{% extends "base.html" %}
{% load static %}
{% block title %}
Modify
{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />


<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/smart-selects/admin/js/chainedfk.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/static/admin/js/inlines.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<script>
  $(document).ready(function(){
		$("#id_customer").blur(function(){
			var account = $("#id_customer").val();
      $("#title_customer").text("");
			//var formData = {account: id};

			$.ajax
			({
				url : "/customers/ajax/"+account,
				type: "GET",
				//data : formData,
				success: function(data, textStatus, jqXHR)
				{
            var start = data.indexOf("<p id='title'>", 0);
            var end = data.indexOf("</p>", start);
            var str = data.substring(start+14, end);
            $("<div id='title_customer'>" + str + "</div>").insertAfter("#id_customer");

				},
        error: function(jqXHR, exception)
        {
          alert( "Invalid Customer"  );
        }
			});
		})
  });
	</script>


<div class="col-sm-8 col-md-10 col-sm-offset-1 col-md-offset-1" >
  <h1>Modify Ouotation</h1>
    <p>Quotation Number: {{ order.order_number }}</p>
    <div class="media-body ">
      <form action="" method="post" class="order-form">
      {{ form.as_p }}
      <div class="form-inline">
      <a href="{{ instance.get_absolute_url }}" class="btn btn-success" role="button" >Return</a>
          <button type="submit"  class="btn btn-primary" >Save</button>
      </div>
      {% csrf_token %}
      </form>

      <!-- 放大鏡的功能,需user有該app(customer)的change的權限, 因為這裡有smart_selects的關係, 所以會有點問題
      <a href="/admin/customers/customer/?_to_field=sap_no" class="related-lookup" id="lookup_id_customer" title="Lookup"></a>
      -->
    </div>
</div>




{% endblock %}
