{% extends "base.html" %}



{% block content %}

	<script>
  $(document).ready(function(){
		$("#id_product").blur(function(){
			var account = $("#id_product").val();
      $("#description").text("");
			//var formData = {account: id};
			$.ajax
			({
				url : "/products/ajax/"+account,
				type: "GET",
				//data : formData,
				success: function(data, textStatus, jqXHR)
				{
            var start = data.indexOf("<p id='description'>", 0);
            var end = data.indexOf("</p>", start);
            var str = data.substring(start+20, end);
            $("<div id='description'>" + str + "</div>").insertAfter("#span_description");
				},
        error: function(jqXHR, exception)
        {
          alert( "Invalid Product"  );
        }
			});
		})
  });
	</script>

  <script type="text/javascript">
  function deleteOnSubmit( str ){

    var items = document.getElementsByName("rows");
    var schecked = 0;
    for( x=0; x < items.length; x++ ){

      if(items[x].checked== true){
          schecked += 1;
        }
    }

    if(schecked==0){

        window.alert("沒有選擇要刪除的項目喔");
        return false;

    }else{

      var iChoose = confirm("是否確定刪除勾選的資料？");

      if(!iChoose){
        return false;
      }else{
        document.getElementById("delform").action = "/quoted/order/"+{{ order.id }}+"/deleteitem/";
        delform.submit();
      }
    }
    return true;
  }

  function checkOnSubmit(){

    var validateflag = true;
    //檢查存檔是不是有欄位沒填
    var unit_price = document.getElementById("id_unit_price").value;

    if( unit_price ==''){
      window.alert("Invalid Price");
      validateflag = false ;
      return false;
    }

    var prod_number = document.getElementById("id_product").value;

    if( prod_number != '' ){
      var product = document.getElementById("description").innerHTML;
      if( product ==''){
        window.alert("Invalid Product");
        validateflag = false ;
        return false;
      }
    }else{
        window.alert("Product is require!");
        validateflag = false ;
        return false;
    }


    if(validateflag){
      document.getElementById("myform").action = "/quotations/detailadd/";
      myform.submit();
    }else{
      return false;
    }
    return false;
  }
  </script>



  <script>
    $(function() {
      var dialog = $("#dialog" ).dialog({
        autoOpen: false,
        height: 800,
        width: 1200,
        modal: true,
        buttons: {
           OK: addUser
        },
        close: function() {}
      });

      $( "#milk_a_id" ).on( "click", function() {
        dialog.dialog( "open" );
      });

       function addUser(){
         var selectedItem = $("#myselect option:selected" ).text();
        $("#milk_input_id").val(selectedItem);
          dialog.dialog( "close" );
       }
    });




  </script>



    <div id="dialog" title="請選擇一個項目">

      <span id="order_id">Order ID:{{ order.id }}</span><br>
      <span id="order_number">Order Number:{{ order.order_number }}</span>

      <div  class="media-left media-top">
        <div>
          <h3>Categories</h3>
          <ul>
              <li {% if not category %} class="selected" {% endif %} >
              <a href="{% url "quoted:product_list" %}">All</a>
              </li>
                {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
                {% endfor %}
          </ul>
        </div>
      </div>

      <div class="media-body">
      <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
          {% for product in products %}
          <div class="col-sm-6 col-md-4">
              <div  class="thumbnail">
                  <a href="{{ product.get_absolute_url }}">
                      <img src="{% if product.image %}{{ product.image.url }}{% endif %}" class="img-rectangle" height="360" width="360">
                  </a>
                  <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                  <p>{{ product.modelname }}</p>
                  <p>${{ product.price }}</p>

              <form  id="additem_to_order" action="" method="post">
                  {% csrf_token %}
                  <input type="text" name="order" value='{{ order.id }}'><br>
                  <input type="text" name="products" value='{{ product.id }}'><br>
                  <input type="text" name="prices" value='{{ product.price }}'><br>

              <input type="submit" value="Add to Order" class="btn btn-success form-control">
              </form>
              </div>
          </div>
          {% endfor %}
    </div>

</div>

<script type="text/javascript">
$(document).on('submit', '#additem_to_order', function(e){
    alert("into ajax function");
    e.preventDefault();

    $.ajax({

      type:'POST',
      url:'/quoted/order/'{{ order.id }}'/iteminsert/',
      data:{
          order_id:$('#name').val(),
          product_id:$('#email').val(),
          quantity:1,
          price:$('#price').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
      },
      success:function(){

      }



    });
});

</script>





  <h1>{{ title }}</h1>
<a href="{{ order.get_absolute_url }}print" class="btn btn-primary" target="_blank">Export PDF</a>
<table class="table table-bordered">
  <tr>
    <td>報價單號</td>
    <td>{{ order.order_number }}</td>
    <td>報價日期</td>
    <td>{{ order.ord_date | date:"Y-m-d" }}</td>
  </tr>
  <tr>
    <td>客戶名稱</td>
    <td>{{ order.customer.title }}</td>
    <td>業務代表</td>
    <td>{{ order.quote_sales }}</td>
  </tr>
  <tr>
    <td>聯絡人</td>
    <td></td>
    <td>聯絡信箱</td>
    <td>{{ order.email }}</td>
  </tr>
  <tr>
    <td>幣別</td>
    <td>{{ order.currency }}</td>
    <td>有效日期</td>
    <td>{{ order.effective_date | date:"Y-m-d" }}</td>
  </tr>

  <tr>
    <td>註記事項</td>
    <td colspan="3">{{ order.comment | linebreaks  }}</td>
  </tr>

</table>

<table class="table table-striped">

  <form id ='myform' action="" method="POST" onsubmit="return checkOnSubmit()">{% csrf_token %}
  <tr>
    <th width="6%">
            <button type="submit" class="btn btn-primary" >Add item</button>

    </th>
    <th width="3%"><a id="milk_a_id" href="#"  class="btn btn-primary" >See Group List</a>
      <input id="order_id" name="order_item" size="8" type="hidden" value='{{ order.id }}' cssStyle="width:20px" />
    </th>
    <th width="8%"><input id="id_product" name="product" size="14" type="text"  cssStyle="width:30px" />

    <th width="15%"><span id="span_description"></span></th>
    <th width="8%"><span id="span_img"></span></th>
    <th width="30%"><span id="span_specification"></span></th>
    <th width="5%"><input id="id_unit_price" name="unit_price" size="4" step="any" type="number"/>
    <th >
  </tr>
</form>
<form id="delform" action="" method="POST" onsubmit="return deleteOnSubmit( {{ order.id }} )" >{% csrf_token %}
  <input type='hidden' name='order_id' value="{{ order.id }}"/>

  <tr>
    <th width="6%"><button type="submit" class="btn btn-danger" >Delete Item</button></th>

    <th width="4%">行號</th>
    <th width="8%">料號</th>
    <th width="15%">品名</th>
    <th width="6%">產品圖示</th>
    <th width="30%">規格</th>
    <th width="5%">單價</th>
    <th >註記事項</th>
  </tr>
  {% for row in order.orderitem_set.all %}
  <tr>
    <td>
        <input type="checkbox" name="rows" id='row_{{ row.id }}' value="{{ row.id }}">
            {% if row.product.image %}
             <img src="{{ row.product.image.url }}" class="img-rectangle" height="80" width="80"/>
           {% endif %}
    </td>
    <td><a href='{{ row.get_absolute_url }}'>{{ row.id }}</a></td>
    <td>{{ row.product.name }}</td>
    <td>{{ row.product.modelname }}</td>
    <td>{{ row.product.option1 }}</td>

    <td>{{ row.product.category | linebreaks }}</td>
    <td align="right">{{ row.price }}</td>
    <td>{{ row.line_memo | linebreaks | truncatechars:30 }}</td>
  </tr>
  {% endfor%}
</form>



</table>



{% endblock content %}
