{% extends "base.html" %}
{% load static %}
{% block title %}
Checkout
{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />


<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/smart-selects/admin/js/chainedfk.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/static/admin/js/inlines.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<script>
  $(document).ready(function(){
		$("#id_customer").blur(function(){
			var account = $("#id_customer").val();
      $("#title_customer").text("");
			//var formData = {account: id};

			$.ajax
			({
				url : "/customers/ajax/"+account,
				type: "GET",
				//data : formData,
				success: function(data, textStatus, jqXHR)
				{
            var start = data.indexOf("<p id='title'>", 0);
            var end = data.indexOf("</p>", start);
            var str = data.substring(start+14, end);
            $("<div id='title_customer'>" + str + "</div>").insertAfter("#id_customer");

				},
        error: function(jqXHR, exception)
        {
          alert( "Invalid Customer"  );
        }
			});
		})
  });
	</script>


<div class="col-sm-8 col-md-10 col-sm-offset-1 col-md-offset-1" >
  <h1>Checkout</h1>
    <div  class="media-left media-middle col-sm-8 ">
      <h3>Your Quotation Items</h3>
      <ul>

      {% for item in cart %}
      <li>
        <img src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"  class="img-rectangle" height="60" width="60" >
      {{ item.product.name }}  {{ item.product.modelname }}
      <span>$ {{ item.product.price }}</span>
      </li>
      {% endfor %}
      </ul>

    </div>
    <div class="media-body ">
      <form action="" method="post" class="order-form">
      {{ form.as_p }}
          <p><input type="submit" value="Generate Quotation" class="form-control"></p>
      {% csrf_token %}
      </form>




      <script type="text/javascript">
       (function($) {
           var chainfield = "#id_customer";
           var url = "/chaining/filter/customers/Contact/customer/quoted/Order/contact";
           var id = "#id_contact";
           var value = 10;
           var auto_choose = true;
           var empty_label = "---------";

           $(document).ready(function() {
               chainedfk.init(chainfield, url, id, value, empty_label, auto_choose);
           });
       })(jQuery || django.jQuery);
       </script>

      <!-- 放大鏡的功能,需user有該app(customer)的change的權限, 因為這裡有smart_selects的關係, 所以會有點問題
      <a href="/admin/customers/customer/?_to_field=sap_no" class="related-lookup" id="lookup_id_customer" title="Lookup"></a>
      -->
    </div>
</div>




{% endblock %}
