{% extends "base.html" %}



{% block content %}

	<script>
  $(document).ready(function(){
		$("#id_product").blur(function(){
			var account = $("#id_product").val();
      $("#description").text("");
			//var formData = {account: id};
			$.ajax
			({
				url : "/products/ajax/"+account,
				type: "GET",
				//data : formData,
				success: function(data, textStatus, jqXHR)
				{
            var start = data.indexOf("<p id='description'>", 0);
            var end = data.indexOf("</p>", start);
            var str = data.substring(start+20, end);
            $("<div id='description'>" + str + "</div>").insertAfter("#span_description");
				},
        error: function(jqXHR, exception)
        {
          alert( "Invalid Product"  );
        }
			});
		})
  });
	</script>

  <script type="text/javascript">
  function deleteOnSubmit( str ){

    var items = document.getElementsByName("rows");
    var schecked = 0;
    for( x=0; x < items.length; x++ ){

      if(items[x].checked== true){
          schecked += 1;
        }
    }

    if(schecked==0){

        window.alert("沒有選擇要刪除的項目喔");
        return false;

    }else{

      var iChoose = confirm("是否確定刪除勾選的資料？");

      if(!iChoose){
        return false;
      }else{
        document.getElementById("delform").action = "/quoted/order/"+{{ order.id }}+"/deleteitem/";
        delform.submit();
      }
    }
    return true;
  }

  function checkOnSubmit(){

    var validateflag = true;
    //檢查存檔是不是有欄位沒填
    var unit_price = document.getElementById("id_unit_price").value;

    if( unit_price ==''){
      window.alert("Invalid Price");
      validateflag = false ;
      return false;
    }

    var prod_number = document.getElementById("id_product").value;

    if( prod_number != '' ){
      var product = document.getElementById("description").innerHTML;
      if( product ==''){
        window.alert("Invalid Product");
        validateflag = false ;
        return false;
      }
    }else{
        window.alert("Product is require!");
        validateflag = false ;
        return false;
    }


    if(validateflag){
      document.getElementById("myform").action = "/quotations/detailadd/";
      myform.submit();
    }else{
      return false;
    }
    return false;
  }
  </script>



  <script>
    $(function() {
      var dialog = $("#dialog" ).dialog({
        autoOpen: false,
        height: 800,
        width: 1200,
        modal: true,
        buttons: {
           OK: addUser
        },
        close: function() {}
      });

      $( "#milk_a_id" ).on( "click", function() {
        dialog.dialog( "open" );
      });

       function addUser(){
         var selectedItem = $("#myselect option:selected" ).text();
        $("#milk_input_id").val(selectedItem);
          dialog.dialog( "close" );
       }
    });




  </script>



    <div id="dialog" title="Choose you want ">

      <span id="order_id">Order ID:{{ order.id }}</span><br>
      <span id="order_number">Order Number:{{ order.order_number }}</span>

      <div  class="media-left media-top">
        <div>
          <h3>Categories</h3>
          <ul>
              <li {% if not category %} class="selected" {% endif %} >
              <a href="{% url "quoted:product_list" %}">All</a>
              </li>
                {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
                {% endfor %}
          </ul>
        </div>
      </div>
			<div id="d1"></div>
      <div id='tbody' class="media-body">
      <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
          {% for product in products %}
          <div class="col-sm-6 col-md-4">
              <div  class="thumbnail">
                  <a href="#">
                      <img src="{% if product.image %}{{ product.image.url }}{% endif %}" class="img-rectangle" height="360" width="360">
                  </a>
                  <h3>{{ product.name }}</h3>
                  <p>{{ product.modelname }}</p>
                  <p>Standar Price: ${{ product.price }}</p>

              <form  name="additem_to_order" id='form_{{ product.id }}' action="" method="post">
                  {% csrf_token %}
                  <input type="hidden" id="order_{{ product.id }}" value='{{ order.id }}'>
                  <input type="hidden" id="products_{{ product.id }}" value='{{ product.id }}'>
                  Quote Price:<input type="text" id="prices_{{ product.id }}" value='{{ product.price }}' onfocus="select()">
              <button type="button"  class="btn btn-success form-control">Add to Order</button>
              </form>
              </div>
          </div>
          {% endfor %}
					<script src="http://code.jquery.com/jquery-1.10.2.js" ></script>
					<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js" ></script>
    </div>
</div>
<script>
$("button").click(function(e){

    var form = $(this).closest('form')[0];
	  //alert(form.id)
    var item = form.id.split('_');
    var order_id = document.getElementById('order_'+item[1]).value
    var product_id = document.getElementById('products_'+item[1]).value
    var prices_id = document.getElementById('prices_'+item[1]).value

    e.preventDefault();

	 $.ajax({
			 type:"POST",
			 url:'/quoted/insertitem/',
			 data:{
           order_id: order_id,
           product_id: product_id,
           price: prices_id,
 				   csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
       },

			 success: function(result){
				 //$("#d1").html("Success!!");
         alert('Put item to Order')
			 },
			 error: function(e){
				 alert('Error')
			 }
	 });
});
</script>


  <h1>{{ title }}</h1>
<a href="{{ order.get_absolute_url }}print" class="btn btn-primary" target="_blank">to PDF</a>
<table class="table table-bordered">
  <tr>
    <td>Quote No.</td>
    <td>{{ order.order_number }}</td>
    <td>Quote Date</td>
    <td>{{ order.ord_date | date:"Y-m-d" }}</td>
  </tr>
  <tr>
    <td>Customer Title</td>
    <td>{{ order.customer.title }}</td>
    <td>Sales</td>
    <td>{{ order.quote_sales }}</td>
  </tr>
  <tr>
    <td>Contact</td>
    <td>{{ order.customer.contact }}</td>
    <td>Email</td>
    <td>{{ order.email }}</td>
  </tr>
  <tr>
    <td>Currency</td>
    <td>{{ order.currency }}</td>
    <td>Effective Date</td>
    <td>{{ order.effective_date | date:"Y-m-d" }}</td>
  </tr>

  <tr>
    <td>Comment</td>
    <td colspan="3">{{ order.comment | linebreaks |truncatewords:60 }}</td>
  </tr>

</table>

<table class="table table-striped">
<a id="milk_a_id" href="#"  class="btn btn-primary" >See Model List</a>

<form id="delform" action="" method="POST" onsubmit="return deleteOnSubmit( {{ order.id }} )" >{% csrf_token %}
  <input type='hidden' name='order_id' value="{{ order.id }}"/>

  <tr>
    <th width="6%"><button type="submit" class="btn btn-danger" >Delete Item</button></th>

    <th width="4%">No.</th>
    <th width="8%">Product</th>
    <th width="15%">Model Name</th>
    <th width="6%">Family</th>
    <th width="6%">Beam angle</th>
    <th width="6%">Option1</th>
    <th width="6%">CCT</th>
    <th width="5%">Category</th>
    <th width="5%">Price</th>

  </tr>
  {% for row in order.orderitem_set.all %}
  <tr>
    <td>
        <input type="checkbox" name="rows" id='row_{{ row.id }}' value="{{ row.id }}">
            {% if row.product.image %}
             <img src="{{ row.product.image.url }}" class="img-rectangle" height="80" width="80"/>
           {% endif %}
    </td>
    <td>{{ row.id }}</td>
    <td>{{ row.product.name }}</td>
    <td>{{ row.product.modelname }}</td>
    <td>{{ row.product.family }}</td>
    <td>{{ row.product.beam_angle }}</td>
    <td>{{ row.product.option1 }}</td>
    <td>{{ row.product.cct }}</td>
    <td>{{ row.product.category | linebreaks }}</td>
    <td align="right">{{ row.price }}</td>

  </tr>
  {% endfor%}
</form>



</table>



{% endblock content %}
