{% extends "base.html" %}

{% block content %}


  <p><h3>{{ title }}</h3></p>
  <div>
      <span ><a href="/quotations/create" class="btn btn-primary">Create New</a></span>
      <span align="right">
          <div class="pagination">
              <span>{{ title }}</span>
              <span class="step-links">
                  {% if page_obj.has_previous %}
                      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}

                  <span class="current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>

                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
              </span>
          </div>
      <span>
  <div>

    <nav aria-label="...">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="active"><a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% else %}
          <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}
        <li class="active"><a href="#">1 <span class="sr-only">{{ page_obj.number }}</span></a></li>
        ...
      </ul>
    </nav>

<div>
<table class="table table-striped" >
  <tr>
    <th width="6%">作廢標記</th>
    <th width="8%">報價日期</th>
    <th width="8%">報價單號</th>
    <th width="8%">業務姓名</th>
    <th width="25%">客戶名稱</th>
    <th width="4%">幣別</th>
    <th width="8%">有效日期</th>
    <th>註記事項</th>
  </tr>
{% for record in object_list %}
  <tr>
    <td>{{ record.invalid }}</td>
    <td><a href='{{ record.get_absolute_url }}'>{{ record.ord_date | date:"Y-m-d" }}</a></td>
    <td><a href='{{ record.get_absolute_url }}'>{{ record.order_number }}</a></td>
    <td><a href='{{ record.get_absolute_url }}'>{{ record.request_user }}</a></td>
    <td>{{ record.customer.title }}</td>
    <td>{{ record.currency }}</td>
    <td>{{ record.effective_date | date:"Y-m-d" }}</td>
    <td>{{ record.memo | linebreaks | truncatechars:30 }}</td>
  </tr>
{% endfor %}
</table>
<div>

{% endblock content %}
