{% load staticfiles %}
<html>
    <head>
        <title>
            {% block title %}
                Alder Employee Integration Potal
            {% endblock title%}

            {% block head_extra %} {% endblock head_extra %}
        </title>

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" />
        <script src="{% static 'js/bootstrap.min.js' %}" ></script>
        <script src="{% static 'js/jquery-1.8.2.min.js' %}" ></script>
        <script src="{% static 'js/myajax.js' %}" ></script>


    </head>
    <body>

        <div class="col-sm-10 col-sm-offset-1">
            <div>

              <span>

                <img src="{% static 'img/alder_upline.jpg' %}" width="100%" height="50"/>
              </span>

            </div>

            <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                  </div>


                  <!-- menu bar -->
                  <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav">
                          <li  class="">
                              <a href="/posts">
                                <span class="glyphicon glyphion-cd" aria-hidden="true">&nbsp; 電子佈告</span>
                              </a>
                          </li>
                          <li  class="">
                              <a href="#">
                                <span class="glyphicon glyphion-cd" aria-hidden="true">&nbsp; 亞德園地</span>
                              </a>
                          </li>
                          <li  class="">
                              <a href="/employees">
                                <span class="glyphicon glyphion-cd" aria-hidden="true">&nbsp; 人事行政</span>
                              </a>
                          </li>
                          <li  class="">
                              <a href="/products">
                                <span class="glyphicon glyphion-cd" aria-hidden="true">&nbsp; 產品</span>
                              </a>
                          </li>
                          <li  class="">
                              <a href="/workorders">
                                <span class="glyphicon glyphion-cd" aria-hidden="true">&nbsp; 工單管理</span>
                              </a>
                          </li>
                          <li  class="">
                              <a href="/customers">
                                <span class="glyphicon glyphion-cd" aria-hidden="true">&nbsp; 客戶管理</span>
                              </a>
                          </li>
                          <li  class="">
                              <a href="#">
                                <span class="glyphicon glyphion-cd" aria-hidden="true">&nbsp; 銷售管理</span>
                              </a>
                          </li>


                      </ul>
                  </div>
              </div>
            </nav>

            {% block content %}
            {% endblock content %}



                {% block footer %}
                <div>
                    <img src="{% static 'img/footer_line.jpg' %}" width="100%" height="40"/>
                <div>
                {% endblock footer %}

        </div>


    </body>
</html>
