{% extends "base.html" %}
{% block content%}
{% if perms.posts.can_add_post %}
  <h1>{{ title }}<P><a href="/posts/create" class="btn btn-warning" role="button" >Create New</a></p></h1>
    {% endif %}
<div class="row" >

  {% for item in object_list %}
      <div class="col-xs-4">
          <div class="thumbnail">
            <p>{{ forloop.counter }}. <a href="{{ item.get_absolute_url }}">{{ item.subject }}</a></p>
            <p>{{ item.timestemp | date:"Y-m-d H:i:s"  }}</p>
            <p>{{ item.content | linebreaks | truncatechars:120 }}
              <a href='{{ item.get_absolute_url }}' class="btn btn-primary" role="button">View</a>
            </p>
          </div>
      </div>
      {% cycle '' '' '</div><div class="row">' %}

  {% endfor %}


</div>

{% endblock content %}
