{% extends "base.html" %}
{% load staticfiles %}
{% block content%}



<div class="col-sm-8 col-md-10 col-sm-offset-1 col-md-offset-1" >
  <h2><p>{{ instance.subject }}<small>  Last Modify: {{ instance.modify | date:"Y-m-d H:i:s"  }}</small></p></h2>
  <p><img src='{{ instance.image.url }}' class="img-responsive" /></p>
  <p>{{ instance.content | linebreaks  }}</p>
  <h3>
    <div class="form-inline">
    <a href="/posts" class="btn btn-success" role="button" >Return</a>
    <a href="{{ instance.get_absolute_url }}delete" class="btn btn-danger" role="button" >Delete</a>
    <a href="{{ instance.get_absolute_url }}edit" class="btn btn-warning" role="button">Edit</a></p>
  </div>
  </h3>

</div>

{% endblock content %}
