{% extends "base.html" %}
{% block content%}
  <h1>{{ title }}<P><a href="/posts/create" class="btn btn-primary" role="button" >Create New</a></p></h1>
  {% for item in object_list %}
  <div class="col-sm-6 col-md-4">
    <p>{{ forloop.counter }}. <a href="{{ item.get_absolute_url }}">{{ item.subject }}</a></p>
    <p>{{ item.content | linebreaks | truncatechars:120 }}<a href='{{ item.get_absolute_url }}' class="btn btn-primary" role="button">View</a></p>

  </div>
  {% endfor %}



{% endblock content %}
